$primary-golden: #B88E2F;

$primary-color: #FFF3E3;

$primary-offer: #E97171;
$secondary-offer: #2EC1AC;
$offer-price: #B0B0B0;
$primary-price: #3A3A3A;

$primary-background: #FCF8F3; 

$primary-gray: #F4F5F7;



$primary-color-shop-page: #F9F1E7;